/* Section Image Panoramique */
.firstImage {
  background-image: url(../../assets/imagePanoHome.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.buttonFirstImg {
  margin-bottom: 40px;
  border-color: white;
}
.buttonFirstImg:hover {
  border-color: white;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
}

/* Section 2 */

.section2 {
  background-color: #f1eeee;
}

.texte h2,
.purpleTxt {
  color: #a773b0;
}
.section2 img {
  width: 250px;
  transition: all 0.3s ease;
}

.section2 img:hover {
  width: 260px;
  transition: all 0.3s ease;
}
.divImg {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linkTxt {
  color: black;
}

.linkTxt:hover {
  color: rgb(59, 57, 57);
}

.purpleButton {
  margin-bottom: 20px;
  border: solid 1px white;
  &:hover {
    border: solid 1px white;
  }
  &:focus {
    outline: none;
  }
}


/* Section Pourquoi */
.imgPourquoi {
  width: 75%;
  margin: auto;
}

/* Derniere Section */
.titleLastSection {
  color: #d78e01;
  text-align: center;
}
.txtLastSection {
  background-color: #f1eeee;
}
.lastSection{
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.lastSection img {
  width: 300px;
  height: 190px;
  display: flex;
}

@media (min-width: 1000px) {
  /* Section 2 */

  .section2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 7%;
  }

  .texte {
    box-sizing: border-box;
    width: 40%;
    padding-right: 20px;
  }

  .divImg {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .purpleButton {
    margin-bottom: 100px;
  }

  /* Section Pourquoi Nous Choisir */
  .imgPourquoi {
    width: 500px;
    margin-top: 70px;
  }

  /* Last Section */

  .lastSection {
    display: flex;
    flex-direction: row;
    width: 75%;
    margin: auto;
   
  }

  .lastSection img {
    padding-left: 30px;
    width: 420px;
    height: 290px;
  }
  
}
