.backgroundImg {
  background-image: url(../../assets/imagePanoAchatLoc.jpg);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;


}

.backgroundImg h1{
  color:#909090;
  background-color: #909090;
  opacity:40%;
  padding: 20px 40px;
  border-radius: 50px;
  margin-top: 70px;
  position: relative;
 
}
.block {
  position: absolute;
  font-size: 40px;
  color: white;
  margin-top: 70px;
  
}
.backgroundImg{
  width: 100%;
}
.txt { 
  width: 75%;
  margin:auto;
  font-size: 13px;  
  background-color: #F5F5F5;
  padding: 20px;
  margin-top: 30px;

}
.txt h2{
  font-size: 20px;
}
.txt h3 {
  font-size: 15px;
}
.txtColor{
  color: #E09B14;
}

.underline{
  text-decoration: underline solid darkorange 1px;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.column{
  display: flex;
  flex-direction: column;
 row-gap: 0;
 margin-block-end: 0;
}

h3{
  margin-block-end: 0;
}
p{
  margin-block-start: 0;
}