@media (min-width:768px) {
 .conf {
  width: 80%;
  margin:100px;
  font-size: 14px;
} 
  .h2Conf{
    font-size: 18px;
  }
  .h1Conf{
    font-size: 22px;
  }
}


 .conf {
  margin-top:100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  
} 
  .h2Conf {
    font-size: 15px;
  }
  .h1Conf {
   font-size: 18px;}
