.root {
  margin-top: 80px;
}

.imgPano {
  background-image: url(../../assets/devis.png);
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
